<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<footer class="pt-5 page-footer">
  <div class="container-fluid border-bottom ">
    <div class="row justify-content-md-center">
      <!-- <div class="col-md-3 col-sm-12 mb-3 text-center">
      </div> -->
      <div class="col-md-9 col-sm-12">

        <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
          <h5 class="mb-4 font-weight-bold text-uppercase">Solutions</h5>
        <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home">About</a></li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/pricing">Sales</a></li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/documentation">Documentation</a></li>
        </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Developers</h5>
        <ul class="list-group">
          <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/documentation">API Specification</a></li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/faqs">FAQs</a></li>
        </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Company</h5>
        <ul class="list-group">
          <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/"></i>Company</a></li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/login"></i> Login</a></li>
        </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Connect</h5>
        <ul class="list-group">
          <li class="list-group-item bg-transparent border-0 p-0 mb-2">
            <a href="/"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
          </li>

          <li class="list-group-item bg-transparent border-0 p-0 mb-2">
            <a href="/" target="_blank"><i class="fa fa-google-plus mr-1"></i> Google+</a>
            
          </li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2">
            <a href="/" target="_blank"><i class="fa fa-github mr-1"></i> Github</a>  
          </li>
        </ul>
        </div>

      </div>
        <div class="col-md-12">
          <div class="py-4 d-flex justify-content-center align-items-center">
            <a class="mr-4" href="/">Privacy & terms</a>

            <div class="footer-copyright text-center py-3 "><a>© 2020 Copyright:</a>
                <a href="/"> citybylatlong.com</a>
              </div>
          </div>
        </div>
    </div>
  </div>
</footer>