

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa fa-compass"></i> <b class = "text-secondary"> City By LatLong</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="/faqs">FAQs</a></li>
        
        <% if(!currentUser){ %>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <% } else { %>
        <li class="nav-item"><a class="nav-link" href="/logout" style="color: #029f5b;">  <%= currentUser.username %> (Logout)</a></li>
        <% } %>
        </ul>
    </div>
    </div>
</nav>